
<div *ngIf="(userProfile$ | async) as userProfile" class="d-flex flex-row h-100 overflow-hidden">
  <div class="p-0">
    <app-sidebar [currentPage]="currentPage$ | async"></app-sidebar>
  </div>
  <div class="w-100 d-flex flex-column p-0 overflow-auto">
    <app-header
      [currentPage$]="currentPage$"
      [locations]="locations$ | async"
      [currentLocation]="currentLocation$ | async"
      [avatar]="userProfile.avatar"
      (previousPage)="onPreviousPage()"
      (changeLocation)="onLocationChange($event)"
      (logOut)="onLogOut()"
    ></app-header>
    <router-outlet></router-outlet>
  </div>
</div>
