
@import 'mixins/_all';

.p-rem-0_5 { padding: 0.5rem; }
.p-rem-0_75 { padding: 0.75rem; }
.p-rem-1 { padding: 1rem; }
.p-rem-1_5 { padding: 1.5rem; }
.p-rem-1_75 { padding: 1.75rem; }
.p-rem-2 { padding: 2rem; }
.p-rem-2_5 { padding: 2.5rem; }
.p-rem-2_75 { padding: 2.75rem; }
.p-rem-3 { padding: 3rem; }
.p-rem-3_5 { padding: 3.5rem; }
.p-rem-3_75 { padding: 3.75rem; }
.p-rem-4 { padding: 4rem; }
.p-rem-4_5 { padding: 4.5rem; }
.p-rem-4_75 { padding: 4.75rem; }

.px-rem-0_5 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-rem-0_75 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-rem-1 { padding-left: 1rem; padding-right: 1rem; }
.px-rem-1_5 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-rem-1_75 { padding-left: 1.75rem; padding-right: 1.75rem; }
.px-rem-2 { padding-left: 2rem; padding-right: 2rem; }
.px-rem-2_5 { padding-left: 2.5rem; padding-right: 2.5rem; }
.px-rem-2_75 { padding-left: 2.75rem; padding-right: 2.75rem; }
.px-rem-3 { padding-left: 3rem; padding-right: 3rem; }
.px-rem-3_5 { padding-left: 3.5rem; padding-right: 3.5rem; }
.px-rem-3_75 { padding-left: 3.75rem; padding-right: 3.75rem; }
.px-rem-4 { padding-left: 4rem; padding-right: 4rem; }

.py-rem-0_5 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-rem-0_75 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-rem-1 { padding-top: 1rem; padding-bottom: 1rem; }
.py-rem-1_5 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-rem-1_75 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
.py-rem-2 { padding-top: 2rem; padding-bottom: 2rem; }
.py-rem-2_5 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.py-rem-2_75 { padding-top: 2.75rem; padding-bottom: 2.75rem; }
.py-rem-3 { padding-top: 3rem; padding-bottom: 3rem; }
.py-rem-3_5 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.py-rem-3_75 { padding-top: 3.75rem; padding-bottom: 3.75rem; }
.py-rem-4 { padding-top: 4rem; padding-bottom: 4rem; }
.py-rem-4_5 { padding-top: 4.5rem; padding-bottom: 4.5rem; }
.py-rem-4_75 { padding-top: 4.75rem; padding-bottom: 4.75rem; }

.pr-rem-0_5 { padding-right: 0.5rem; }
.pr-rem-0_75 { padding-right: 0.75rem; }
.pr-rem-1 { padding-right: 1rem; }
.pr-rem-1_5 { padding-right: 1.5rem; }
.pr-rem-1_75 { padding-right: 1.75rem; }
.pr-rem-2 { padding-right: 2rem; }
.pr-rem-2_5 { padding-right: 2.5rem; }
.pr-rem-2_75 { padding-right: 2.75rem; }
.pr-rem-3 { padding-right: 3rem; }
.pr-rem-3_5 { padding-right: 3.5rem; }
.pr-rem-3_75 { padding-right: 3.75rem; }
.pr-rem-4 { padding-right: 4rem; }
.pr-rem-4_5 { padding-right: 4.5rem; }
.pr-rem-4_75 { padding-right: 4.75rem; }

.pl-rem-0_5 { padding-left: 0.5rem; }
.pl-rem-0_75 { padding-left: 0.75rem; }
.pl-rem-1 { padding-left: 1rem; }
.pl-rem-1_5 { padding-left: 1.5rem; }
.pl-rem-1_75 { padding-left: 1.75rem; }
.pl-rem-2 { padding-left: 2rem; }
.pl-rem-2_5 { padding-left: 2.5rem; }
.pl-rem-2_75 { padding-left: 2.75rem; }
.pl-rem-3 { padding-left: 3rem; }
.pl-rem-3_5 { padding-left: 3.5rem; }
.pl-rem-3_75 { padding-left: 3.75rem; }
.pl-rem-4 { padding-left: 4rem; }
.pl-rem-4_5 { padding-left: 4.5rem; }
.pl-rem-4_75 { padding-left: 4.75rem; }

.pt-rem-0_5 { padding-top: 0.5rem; }
.pt-rem-0_75 { padding-top: 0.75rem; }
.pt-rem-1 { padding-top: 1rem; }
.pt-rem-1_5 { padding-top: 1.5rem; }
.pt-rem-1_75 { padding-top: 1.75rem; }
.pt-rem-2 { padding-top: 2rem; }
.pt-rem-2_5 { padding-top: 2.5rem; }
.pt-rem-2_75 { padding-top: 2.75rem; }
.pt-rem-3 { padding-top: 3rem; }
.pt-rem-3_5 { padding-top: 3.5rem; }
.pt-rem-3_75 { padding-top: 3.75rem; }
.pt-rem-4 { padding-top: 4rem; }
.pt-rem-4_5 { padding-top: 4.5rem; }
.pt-rem-4_75 { padding-top: 4.75rem; }

.pb-rem-0_5 { padding-bottom: 0.5rem; }
.pb-rem-0_75 { padding-bottom: 0.75rem; }
.pb-rem-1 { padding-bottom: 1rem; }
.pb-rem-1_5 { padding-bottom: 1.5rem; }
.pb-rem-1_75 { padding-bottom: 1.75rem; }
.pb-rem-2 { padding-bottom: 2rem; }
.pb-rem-2_5 { padding-bottom: 2.5rem; }
.pb-rem-2_75 { padding-bottom: 2.75rem; }
.pb-rem-3 { padding-bottom: 3rem; }
.pb-rem-3_5 { padding-bottom: 3.5rem; }
.pb-rem-3_75 { padding-bottom: 3.75rem; }
.pb-rem-4 { padding-bottom: 4rem; }
.pb-rem-4_5 { padding-bottom: 4.5rem; }
.pb-rem-4_75 { padding-bottom: 4.75rem; }

@include sm {
  
}

@include md {
  
}

@include lg {
  
}

@include xl {
  
}
