
@import '~@angular/material/theming';
@import '_colors';

@mixin menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-menu-panel {
    min-height: auto !important;

    &.md-menu {
      box-shadow: none;
      border: 1px solid mat-color($uptracker-brown, 300);

      .mat-menu-content:not(:empty) {
        padding-top: 3px;
        padding-bottom: 4px;
      }

      .mat-menu-item {
        font-size: 12px;
        height: 32px;
        padding: 0;
        line-height: 32px;
        padding-left: 12px;
        padding-right: 12px;
        .mat-icon {
          margin-right: 12px;
        }
      }
    }
  }


}
