@import "~@angular/material/theming";

@mixin toaster-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .uptracker-snackbar {
    bottom: 45px;
    position: absolute;
    right: 0px;
  }
}
