
<section class="container-fluid pos-relative p-0">

  <header class="mb-rem-1_75 width-100">
    <app-modal-header [titles]="[ 'Change Password', 'Please enter your current password and your new password. Passwords must be at least 8 characters long.' ]"></app-modal-header>
  </header>

  <form [formGroup]="form" class="row no-gutters flex-column">

    <mat-form-field appearance="outline" class="width-100" class="form-field-wrapper">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        required
        [type]="pwdVisibility[ctrlNames.current_password] ? 'text' : 'password'"
        [formControlName]="ctrlNames.current_password">
      <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="onTogglePwd($event, ctrlNames.current_password)">
        <mat-icon class="eye-icon">{{ pwdVisibility[ctrlNames.current_password] ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ ctrls[ctrlNames.current_password].errors | inputError }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100" class="form-field-wrapper">
      <mat-label>New Password</mat-label>
      <input
        matInput
        required
        [type]="pwdVisibility[ctrlNames.password] ? 'text' : 'password'"
        [formControlName]="ctrlNames.password">
      <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="onTogglePwd($event, ctrlNames.password)">
        <mat-icon class="eye-icon">{{ pwdVisibility[ctrlNames.password] ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ ctrls[ctrlNames.password].errors | inputError }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100" class="form-field-wrapper">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        required
        [type]="pwdVisibility[ctrlNames.confirm_password] ? 'text' : 'password'"
        [errorStateMatcher]="hasMatchError"
        [formControlName]="ctrlNames.confirm_password">
      <mat-error>{{ ctrls[ctrlNames.confirm_password].errors | inputError }}</mat-error>
      <mat-error *ngIf="!ctrls[ctrlNames.confirm_password].errors">Passwords must match</mat-error>
      <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="onTogglePwd($event, ctrlNames.confirm_password)">
        <mat-icon class="eye-icon">{{ pwdVisibility[ctrlNames.confirm_password] ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="width-100 d-flex justify-content-end mt-px-4">
      <button
        mat-flat-button
        (click)="dialogRef.close()"
        class="mr-rem-1_5"
      >CANCEL</button>
      <button
        type="submit"
        mat-flat-button color="primary"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >CONFIRM</button>
    </div>

  </form>

</section>
