
<div class="row no-gutters">
  <div class="col-12 d-flex justify-content-center mb-px-60">
    <app-no-conent-available></app-no-conent-available>
  </div>
  <div class="col-12 justify-content-center">
    <div class="row no-gutters flex-column align-items-center mb-px-30">
      <p class="font-20 font-weight-bold mb-3">No users added</p>
      <p class="line-height-16 letter-spacing-primary max-width-300 color-grey-400 font-14 text-align-center">Make sure you have sent the invites to your team members or invite new user.</p>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <button
      mat-flat-button color="primary"
      (click)="onInviteUser()"
    >INVITE A USER<mat-icon svgIcon="plus" class="plus-icon-right"></mat-icon></button>
  </div>
</div>
